@use "../abstract/mixin" as *;
@use "../abstract/color" as *;

.search_bar {
  @include flex_center;
  border-radius: 50px;
  height: 40px;
  width: 220px;
  background-color: $title_color;
  margin-bottom: 15px;
  padding: 5px;
  input {
    border: none;
    background-color: transparent;
    height: 100%;
    font-size: 16px;
    color: $font_color;
    outline: none;
  }

  #search_icon {
    color: $font_color;
    font-size: 30px;
    justify-self: flex-end;
    border-radius: 100%;
    padding: 5px;
    background-color: $list_color;
  }
}
